Package: com.isecpartners.introspy
Name: introspy
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description:
Maintainer: tom@isecpartners.com
Author: tom@isecpartners.com
Section: Tweaks
