Package: com.isecpartners.introspy
Name: introspy
Depends: mobilesubstrate, preferenceloader, applist
Version: 0.0.1
Architecture: iphoneos-arm
Description:
Maintainer: Tom D. & Alban D.
Author: Tom D. & Alban D.
Section: Tweaks
