Package: com.isecpartners.introspy
Name: introspy
Depends: mobilesubstrate, preferenceloader, applist
Version: 0.2.0
Architecture: iphoneos-arm
Description: Blackbox tool to help understand what an iOS application is doing at runtime and assist in the identification of potential security issues.
Maintainer: Tom D. & Alban D.
Author: Tom D. & Alban D.
Section: Tweaks
